name: json list update

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      regenerate_all:
        description: 'Regenerate all JSON files'
        required: false
        default: 'false'
        type: choice
        options:
          - 'false'
          - 'true'

jobs:
  get_changed_files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set Git config
        run: |
          git config --global user.name "lenace"
          git config --global user.email "lena@lgcns.com"

      - name: Get list of modified files in the last commit
        id: get_files
        if: ${{ github.event.inputs.regenerate_all != 'true' }}
        run: |
          CHANGED_FILES=$(git diff --name-only HEAD^ HEAD | tr '\n' ',')
          echo "changed_files=\"$CHANGED_FILES\""
          echo "changed_files=\"$CHANGED_FILES\"" >> $GITHUB_ENV

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12.2'

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r .github/build/requirements.txt

      - name: Run Python script (all files)
        if: ${{ github.event.inputs.regenerate_all == 'true' }}
        run: |
          echo "Regenerating all JSON files..."
          python .github/build/list.py --all

      - name: Run Python script (changed files only)
        if: ${{ github.event.inputs.regenerate_all != 'true' }}
        run: |
          echo "Changed files: ${{ env.changed_files }}"
          python .github/build/list.py "${{ env.changed_files }}"

      - name: Commit and push changes
        run: |
          git add .
          git status
          git diff --staged --quiet || git commit -m "Add & modify json list"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.LAT_ADMIN }}


